@tailwind base;
@tailwind components;
@tailwind utilities;




.main-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px
}
.sub-title{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.main-button{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #8DC63F;
    border-radius: 3px 3px 3px 3px;
    padding: 16px 20px 16px 20px;
}
.box-title{
    color: #302E2E;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.accordion input {
    display: none;
}

.accordion label {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 700;
    color: #133C6D;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: 1px solid #D4D4D4;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.accordion label:hover {
    background: #414141;
}

.content {
    padding: 20px;
    box-shadow: 0px 10px 30px -20px #b1b1b1;
    animation: fadein 0.35s ease-in;
}

.accordion input + label + .content {
    display: none;
}

.accordion input:checked + label + .content {
    display: block;
    animation: fadein 0.35s ease-in;
}
.accordion label::after {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}
.accordion input:checked + label::after {
    transform: rotate(45deg);
}
.policy svg{
    height: 25px;
    min-width: 20px;
    strokeWidth: 1;
}

.team:hover{
    background: #898989;
}
.team:hover .first{
    z-index: 9;
}
.custom-shape-divider-bottom-1651145428 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1651145428 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1651145428 .shape-fill {
    fill: #ffffff;
}
.custom-shape-divider-top-1652087344 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652087344 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1652087344 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1652088091 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652088091 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1652088091 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1652088665 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652088665 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1652088665 .shape-fill {
    fill: #FFFFFF;
}